header{
    height: 10vh;
    width: 100%;
    background-color: bisque;
}

body{
    height: 80vh;
    height: auto;
}
main{
    height: 80vh;
    width: 100%;
}

footer{
    height: 10vh;
    width: 100%;
    background-color: bisque;
}